.banner {
    background-image: url('../img/banner.png');
    background-size: cover;
    background-position: center;
    height: 80vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .cpqe{
    color: azure;
  }